<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gráficos
    </ion-title>
  </ion-toolbar>
  <ion-segment [value]="tipoDeChartSeleccionado" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="bar-chart">
      Bar Chart
    </ion-segment-button>
    <ion-segment-button value="line-chart">
      Line Chart
    </ion-segment-button>
    <ion-segment-button value="pie-chart">
      Pie Chart
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Mostrar u ocultar componentes según el segmento seleccionado -->
  <app-bar-chart *ngIf="tipoDeChartSeleccionado === 'bar-chart'" [nombresCategorias]="categorias" [borderColorCategorias]="borderColorCat" [backgroundColorCategorias]="backgroundColorCat"></app-bar-chart>
  <app-line-chart *ngIf="tipoDeChartSeleccionado === 'line-chart'"></app-line-chart>
  <app-pie-chart *ngIf="tipoDeChartSeleccionado === 'pie-chart'"></app-pie-chart>
</ion-content>
