<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gráficos
    </ion-title>
    <ion-segment [value]="tipoDeChartSeleccionado" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="bar-chart">
        Bar Chart
      </ion-segment-button>
      <ion-segment-button value="line-chart">
        Line Chart
      </ion-segment-button>
      <ion-segment-button value="pie-chart">
        Pie Chart
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<!-- Mostrar u ocultar componentes según el segmento seleccionado -->
<ion-content [fullscreen]="true">
  <!--En el caso de bar-chart mostraremos el ion-grid con los 3 gráficos-->
  <ion-grid *ngIf="tipoDeChartSeleccionado === 'bar-chart'">
    <ion-row>
      <ion-col size="6">
        <app-bar-chart [nombresCategorias]="categorias" [borderColorCategorias]="borderColorCat" [backgroundColorCategorias]="backgroundColorCat"></app-bar-chart>
      </ion-col>
      <ion-col size="6">
        <ion-row>
          <ion-col size="12">
            <app-line-chart></app-line-chart>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <app-pie-chart></app-pie-chart>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--En el segmento "Line-Chart" mostraremos únicamente su correspondiente gráfica-->
  <app-line-chart *ngIf="tipoDeChartSeleccionado === 'line-chart'"></app-line-chart>
  <!--En el segmento "Pie-Chart" mostraremos únicamente su correspondiente gráfica-->
  <app-pie-chart *ngIf="tipoDeChartSeleccionado === 'pie-chart'"></app-pie-chart>
</ion-content>
