<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Mis noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 
    Si la lista está vacía se muestra este ensaje
   -->
  <ion-item *ngIf="gestionNoticiasLeer.getNoticias().length==0" color="primary">
    No hay noticias para leer
  </ion-item>
  <!-- Se visualiza la lista de noticias para leer que se obtienen del servicio que las gestiona -->
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let noticia of gestionNoticiasLeer.getNoticias()" size=12 sizeLg=3 sizeMd=4 sizeSm=6 sizeXs=12>
        <app-noticia [noticia]="noticia"></app-noticia>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>