/* Estilos generales para el PDF */
.dashboard-content {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;  
  padding-top: 55px;
 //margin-bottom: 30px;
}

.header h1 {
  font-size: xx-large;
  //padding: 25px;  
}

.list-container h2{
  text-align: center;
  font-size: 20px;
}

.list-container {
  margin-top: 55px;
  background-color: #fff;
  border-radius: 5px;
  max-width: 100%;
  min-width: 200px;
}

