/* Estilos generales para el PDF */
.dashboard-content {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.header {
  text-align: center;  
  padding-top: 55px;
}

.header h1 {
  font-size: xx-large;
}

.list-container {
  padding-top: 20px;
  background-color: #fff;
  max-width: 100%;
  min-width: 200px;
}

.list-container h2{
  text-align: center;
  font-size: 20px;
}

