<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let noticia of listaNoticias">
    <ion-item>
      <ion-checkbox color="primary" slot="start" [checked]="seleccionado(noticia)" (ionChange)="checkNoticia($event, noticia)"></ion-checkbox>
      <ion-label color="primary" class="ion-text-wrap">
        <h3>{{ noticia.source.name}} </h3>
        <p> {{ noticia.title}} </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
​