<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Visualización de Datos
    </ion-title>
  </ion-toolbar>
  <ion-button (click)="generarPDF()">Generar PDF</ion-button>
</ion-header>

<ion-content>
  <div #container>
    <div class="dashboard-content">
      <div class="header">
        <h1>Dashboard</h1>
      </div>

      <div class="list-container">
        <h2>List</h2>
        <ul>
          <li>Esta será la línea 1 de la lista, vamos a poner un texto muy largo para ver qué es lo que hace en estos casos y como podemos corregirlo</li>
          <li>Esta será la línea 2 de la lista, será más corta que la anterior, pero entrará bastante justo en el ancho A4.</li>
          <li>Esta será la línea 3 de la lista, este entra bien</li>
          <li>Esta será la línea 4 de la lista</li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>